<a href="/admin">&larr; Trở lại</a>
<div class="admin-title">
  <h2>Thêm bài viết mới</h2>
</div>

<form action="/admin/add-post" method="POST">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <label for="title"><b>Tiêu đề</b></label>
  <input type="text" placeholder="Nhập tiêu đề" name="title">

  <label for="body"><b>Nội dung</b></label>
  <textarea name="body" cols="50" rows="10"></textarea>

  <input type="submit" value="Add" class="btn">

</form>