<header class="header">
    <a href="/admin" class="header__logo">Trang Admin</a>
  
    <nav class="header__nav">
      <ul>
        
        <li>
          <a href="/" class="">Đến trang chủ</a>
        </li>
        <li>
          <a href="/contact" class="">Liên hệ</a>
        </li>
      </ul>
  
    </nav>
  
    <div class="header__button">
      <a href="/logout">
        Logout
      </a>
    </div>
  
  </header>