<div class="searchBar">
  <div class="container">
    <form action="/search" method="POST" class="search__form" role="search">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

      <input 
        type="search"
        aria-label="Seach"
        id="searchInput"
        name="searchTerm"
        placeholder="Nhập từ khóa..."
      >
    </form>
    <div id="searchClose">Đóng</div>
  </div>
</div>