<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lỗi</title>
    <link rel="icon" type="image/png" href="/public/img/icon-hutech.png?v=2">

</head>
<body>
    <h1>Lỗi</h1>
    <p><%= message %></p>
    <a href="#" onclick="history.back(); return false;">Quay lại trang trước</a>
</body>
</html>
